<div id="<%= dom_id booking %>">
  <p>
    Your <%= booking.gym_class.title %> class on <%= booking.gym_class.date_and_time.strftime('%d/%m/%Y at %l%P')%> has been successfully added to your Bookings
  </p>
</div>
