<h1>My Bookings</h1>

<div id="bookings">
  <% @bookings.each do |booking| %>
    <%= render partial: "booking", locals: { booking: booking } %>
    <%= button_to "Cancel", booking_path(booking.id), method: :delete %>
  <% end %>
</div>

<%= link_to "New booking", new_booking_path %>