<h1>My Bookings</h1>

<div id="bookings">
  <% @bookings.each do |booking| %>
    <%= render partial: "booking", locals: { booking: booking } %>
  <% end %>
</div>

<%= link_to "New booking", new_booking_path %>